@font-face {
    font-family: inter-reg;
    src: url(./fonts/Inter-Regular.otf);
}
@font-face {
    font-family: c-bold;
    src: url(./fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
    font-family: inter-light;
    src: url(./fonts/Inter-Light-BETA.otf);
}

@font-face {
    font-family: inter-medium;
    src: url(./fonts/Inter-Medium.otf);
}

@font-face {
    font-family: inter-bold;
    src: url(./fonts/Inter-Bold.otf);
}

@font-face {
    font-family: c-medium;
    src: url(./fonts/CabinetGrotesk-Medium.otf);
}

*,
:after,
:before {
    margin: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smooting:antialiased;
}

body,html {
    background-color: #000;
    color: #fff;
    font-family: inter-reg;
    scroll-behavior: smooth;
    scroll-margin-top:110px ;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:active,
a:focus,
a:visited {
    outline: none;
}

header {
    background-color: rgba(3,3,3,0.66);
    top: 35px;
    justify-content: space-between;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    margin-left: 38px;
}

header .containerr {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.containerr {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-right: 85px;
    overflow: hidden; 
}

header .containerr a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .containerr .navbar-logo {
    display: flex;
    position: relative;
    cursor: pointer;
}


header .containerr .links {
    display: table;
    align-items: center;
    transition: all .4s ease-out;
}

header .containerr .links a {
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-family: inter-light;
    white-space: nowrap;
    color: #d6d6d6;
    transition: all .4s ease-out;
}

header .containerr .links a:after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 1.5px;
    margin-top: 5px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: all .3s ease 0s, left .3s ease 0s;
    width: 0;
    background-color: #fdd13a;
}

header .containerr .links a:hover {
    font-family: inter-reg;
    color: #fdd13a;
    letter-spacing: 0;
}

header .containerr .links a:hover:after {
    width: 100%;
    letter-spacing: 0;
    left: 0;
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: #000;
}

.section-1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    margin-left: 38px;
}

.section-1-content .home-left{
    position: relative;
    width: 45%;
    padding-right: 3%;
}

.section-1-content .home-left .home-title {
    display: flex;
    flex-direction: column;
    padding-top: 10px; /*change afterwards  */
}

.section-1-content .home-left .home-title
p {
    font-size: 28px;
    font-family: inter-light;
    letter-spacing: 0;
    color: #fbc230;
    padding-bottom: 5px;
}

.section-1-content .home-left .home-title .home-title2 {
    font-size: 65px;
    font-family: c-Bold;
    color: #fff;
    width: 90%;
    letter-spacing: 0;
    line-height: 100%;
}

.section-1-content .home-left .home-title .home-bottombutton {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    flex-wrap:wrap-reverse;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient {
margin-right: 20px;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p {
    display: inline-block;
    background-image: linear-gradient(90deg, #ffbc00, #fd4c35, #ff1e78);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: inter-reg;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
}


.section-1-content .home-left .home-title .home-bottombutton-gradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #fff, #fff, #fff);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    border-radius: 45px;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p:hover {
    color: #ec6859;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-1-content .home-left .home-title .home-bottombutton-right {
    font-size: 20px;
    font-weight: 60;
    font-family: inter-reg;
    letter-spacing: 0;
    color: #ec6859;
    position: relative;
}

.section-1-content .home_image__cZBAK {
    width: 42%;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relativ;
}

.section-1-content .home_image__cZBAK img {
    position: absolute;
    bottom: -85px;
    top: 15%;
    left: -130px;
    width: 100%;
    overflow: hidden;
}

.timer .timer-text {
    font-size: 28px;
    font-family: inter-medium;
    color: #ee2c3c;
    display: flex;

}

.timer .timer-item {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.timer .text-item:first-child {
    padding-left: 10px;
}

.timer .text-item .ti {
    font-size: 14px;
    color: #fff;
}

.marquee-block {
    background-color: #ec6859;
    color: #000;
    font-size:medium;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 99;
}


.section-2 {
    background-color: #101010;
    position: relative;
    z-index: 20;
}

.section-2-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    z-index: 5;
}

.section-2-content .section-2-star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 6;
    width: 380px;
    height: 120px;
}

.section-2-content .slider {
    width: 300px;
    height: 300px;
    border: 9px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.section-2-content .slides {
    width: 300px;
    height: 300px;
    display: flex;
}

.section-2-content .slides input {
    display: none;
}

.section-2-content .slide {
    width: 100%;
    transition: 2s;
}

.section-2-content .slide img {
    width: 300px;
    height: 300px;
}

.section-2-content .navigation-manual {
position: absolute;
width: 300px;
margin-top: -10px;
display: flex;
justify-content: center;
padding-bottom: 50px;

}

.section-2-content .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: none;/* changed */
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .lirst {
    margin-left: 0;
}

#radio2:checked ~ .lirst {
    margin-left: -100%;
}

#radio3:checked ~ .lirst {
    margin-left: -200%;
}

#radio4:checked ~ .lirst {
    margin-left: -300%;
}

.section-2-content .navigation-auto {
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 490px;
    display: none;/* changed */
}


.section-2-content .navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.section-2-content .navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 { }
#radio2:checked ~ .navigation-auto .auto-btn2 { }
#radio3:checked ~ .navigation-auto .auto-btn3 { }
#radio4:checked ~ .navigation-auto .auto-btn4 { } 




.section-2-content .secondsection-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    padding-top: 40px;
}

.section-2-content .secondsection-title p {
    font-size: 24px;
    font-family: c-bold;
    letter-spacing: 0;
    color: #fbc230;
}

.section-2-content .secondsec-buttongradient p {
    display: inline-block;
    background: #000;
    color: #ffbc00;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: inter-medium;
    cursor: pointer;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
    margin-top: 10px;
    border: 1px solid #fbc230;
}

.section-2-content .secondsec-buttongradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #fbc230, #fbc230, #fbc230);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    border-radius: 45px;
}

.section-2-content .secondsec-buttongradient p:hover {
    color: #000;
}

.section-2-content .secondsec-buttongradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-2-content .second-section-right2 {
    font-size: 21px;
    font-family: c-bold;
    letter-spacing: 0;
    color: #ec6859;
    padding-top: 15px;
    position: relative;
}

.section-2-content .second-section-right2 span {
    font-family: inter-light;
    font-size: 21px;
}

.section-3 {
    position: relative;
    background-color: #000;
    z-index: 20;
    padding-top: 7.5%;
}

.section-3-content {
    padding-top: 7%;
    padding-bottom: 4%;
    z-index: 3;
    position: relative;
    margin-left: 28px;
}

.section-3-content .section3-title {
    justify-content: space-between;
    display: flex;
}

.section-3-content .home-title-text {
    font-size: 45px;
    font-family: c-bold;
    color: #fff;
    letter-spacing: 0;
    max-width: 55%;
    line-height: 110%;
}

.section-3-content .section3-title .section3-buttongradient p {
    display: inline-block;
    background-image: linear-gradient(90deg, #ffbc00, #fd4c35, #ff1e78);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    font-family: inter-reg;
    cursor: pointer;
    padding: 19px 35px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
    margin-top: 8%;
    right: 28px;
}

.section-3-content .section3-title .section3-buttongradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #000, #000, #000);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    border: 1px solid #fbc230;
    overflow: hidden;
    border-radius: 45px;
}

.section-3-content .section3-title .section3-buttongradient p:hover {
    color: #fbc230;
}


.section-3-content .section3-title .section3-buttongradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-3-content .home-teamcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(5, 1fr);
    padding: 60px 0 30px;
}

.section-3-content .home-teamcontainer::-webkit-scrollbar {
    display: none;
}

.section-3-content .home-teamcontainer .home-teamitem {
    position: relative;
    background: #000;
    text-align: left;
    cursor: pointer;
    outline: none !important;
    height: 354px;
    width: 231px;
    border-radius: 11px;
    margin-bottom: 25px;
    transition: all .6s cubic-bezier(.85, 0, .15, 1);
}

.section-3-content .home-teamcontainer .home-teamitem img {
    width: 236px;
    height: 197px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    margin-bottom: 30px;
    border-radius: 15px;
}

.section-3-content .home-teamcontainer .home-teamitem:not(:last-child) {
    margin-right: 30px;
}

.section-3-content .home-teamcontainer .home-teamitem .home-designation1 {
    padding-top: 20px;
    font-size: 14px;
    font-family: inter-reg;
    color: #fff;
    line-height: 150%
}

.section-3-content .home-teamcontainer .home-teamitem:hover {
    transform: translateY(-20px);
}

.section-3-content .home-teamcontainer .home-teamitem input {
    height: 34px;
    width: 34px;
    border-radius: 10px;
}


.section-4 {
    position: relative;
    background-color: #fff;
    z-index: 20;
    padding: 100px 0;
}

.section-4-content {
    padding-bottom: 1.5%;
    z-index: 6;
    margin-left: 28px;
}

.section-4-content .home-title p {
    font-family: inter-bold;
    color:#ee2c3c ;
    font-size: 28px;
    padding-bottom: 5px;
    letter-spacing: 0;
}

.section-4-content .home-title .home-subtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section-4-content .home-title .home-subtitle h2 {
font-family: c-medium;
color: #000;
font-size: 50px;
line-height: 90%;
letter-spacing: 0;
display: flex;
flex-wrap: wrap;
width: 100%;
}

.section-4-content .home-title .home-subtitle span {
    font-family: c-bold;
    font-size: 50px;
    color: #fff;
    background: linear-gradient(90deg, #fbc230, #ee2c3c);
    width: 281px;
    height: 70px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    rotate: -5.5deg;
}

.section-4-contentbox {
    padding: 50px 0;
    border-radius: 13px;
    background-color: #000;
    display: flex;
    position: sticky;
    justify-content: space-between;
    margin: 0 26px;
}

.section-4-contentbox .home-circle {
    width: 25%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-4-contentbox .home-circle .home-circle-img {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 200px;
    height: 200px;
}

.section-4-contentbox .home-title1 {
    font-size: 45px;
    font-family: c-bold;
    color: #fbc230;
    padding: 0 5% 0 2%;
    width: 73%;
}

.section-4-contentbox .home-title1 .home-subtitle1 {
    font-size: 26px;
    font-family: c-regular;
    color: #fbc230;
    margin-top: -.8%;
    padding-bottom: 2%;
}

.section-4-contentbox .home-title1 .home-description {
    font-size: 17px;
    font-family: inter-light;
    color: #fff;
    letter-spacing: 0;
    line-height: 160%;
}

.section-4-contentbox .home-title1 .home-description a {
    font-size: 23px;
    color: #fbc230;
    font-family: inter-bold;
}

.section-4-contentbox .home-title1 .home-description span {
    font-size: 25px;
    color: #fbc230;
    font-family: inter-bold;
}


.section-5 {
    width: 100%;
    background-color: #000;
    position: relative;
    z-index: 5;
    padding: 170px 8% 200px;
}

.section-5-content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.section-5-content .section-5-maintitle h1 {
    font-size: 45px;
    font-family: c-bold;
    color: #ee2c3c;
    width: 100%;
    line-height: 90%;
    display: flex;
    margin-bottom: 80px;
}



.section-5-content .section-5-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.section-5-content .section-5-item-image {
    width: 42%;
    display: flex;
    justify-content: center;
}

.section-5-content .section-5-item-desc {
    width: 50%;
    margin: 0;
}

.section-5-content .section-5-item-desc h2 {
    font-size: 50px;
    font-family: c-bold;
    line-height: 110%;
    padding-bottom: 4%;
    white-space: pre-line;
    color: #fbc230;
}

.section-5-content .section-5-item-desc .section-5-itemdescription {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
}

.section-5-content .section-5-item-desc .section-5-itemdescription .section-5-itemdescription-pointer {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 10px;
}

.section-5-content .section-5-item-desc .section-5-itemdescription .section-5-itemdescription-text {
    line-height: 140%;
    width: 98%;
}

.section-5-content .section-5-item-desc p {
    font-size: 17px;
    font-family: inter-reg;
    color: #fff;
    line-height: 210%;
}

.section-5-content .section-5-item-desc .section-5-lastitem-title {
    font-size: 19px;
    font-family: inter-medium;
    color: #ec6859;
    line-height: 180%;
    padding-top: 0px;
}

.section-5-content .section-5-item-desc .section-5-lastitem-description {
    font-size: 16px;
    font-family: inter-reg;
    color: #fff;
    line-height: 140%;
}

.section-5-buttongradient {
    display: flex;
    justify-content: center;
}

.section-5-buttongradient p {
    display: inline-block;
    background-image: linear-gradient(90deg, #ffbc00, #fd4c35, #ff1e78);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: inter-reg;
    cursor: pointer;
    padding: 16px 21px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
}

.section-5-buttongradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #fff, #fff, #fff);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    border-radius: 45px;
}

.section-5-buttongradient p:hover {
    color: #ec6859;
}

.section-5-buttongradient p:hover:after {
    opacity: 1;
    width: 100%;
}


.section-6 {
    position: relative;
    z-index: 5;
    background-image: linear-gradient(130deg, #ffd500, #fd4c35, #d30023);
    border-top: 3px solid hsla(0, 0%, 100%, .906);
    padding: 100px 0 150px;
}

.section-6-content  .section-6-title {
    font-size: 65px;
    font-family: c-bold;
    color: #000;
    line-height: 100%;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 12%;
}

.section-6-content .section-6-accordion {
    width: 82%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, .788);
    border-radius: 13px;
    background-color: hsla(0, 0%, 100%, .344);
    display: flex;
    flex-direction: column;
}

.section-6-accordion .accordion-item {
    border-bottom: 1.5px solid #343434
}

.section-6-accordion .accordion-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    min-height: 70px;
    cursor: pointer;
    color: #000;
    font-size: 22px;
    font-family: inter-reg;
}

.section-6-accordion  .accordion-content  {
    padding-bottom: 50px;
    font-size: 18px;
    font-family: inter-reg;
    padding-right: 5%;
    padding-left: 3%;
    line-height: 160%;
    color: #000;
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
  }

  .section-7{
    position: relative;
    width: 100%;
    z-index: 5;
    padding-top: 85px;
    background-color: #000;
    border-top: 2px solid hsla(0, 0%, 100%, .906);
    overflow: hidden;
  }

  .section-7-content .section-7-title1 {
    font-size: 45px;
    font-family: c-bold;
    text-align: center;
    padding-bottom: 3.5%;
    color: #fff;
    font-weight:1100;
  }

