@font-face {
    font-family: inter-reg;
    src: url(./fonts/Inter-Regular.otf);
}
@font-face {
    font-family: c-bold;
    src: url(./fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
    font-family: inter-light;
    src: url(./fonts/Inter-Light-BETA.otf);
}

@font-face {
    font-family: inter-medium;
    src: url(./fonts/Inter-Medium.otf);
}

*,
:after,
:before {
    margin: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smooting:antialiased;
}

body,html {
    background-color: #000;
    color: #fff;
    font-family: inter-reg;
    scroll-behavior: smooth;
    scroll-margin-top:110px ;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:active,
a:focus,
a:visited {
    outline: none;
}

header {
    background-color: rgba(3,3,3,0.66);
    top: 35px;
    justify-content: space-between;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    margin-left: 38px;
}

header .containerr {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.containerr {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-right: 85px;
    overflow: hidden; 
}

header .containerr a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .containerr .navbar-logo {
    display: flex;
    position: relative;
    cursor: pointer;
}


header .containerr .links {
    display: table;
    align-items: center;
    transition: all .4s ease-out;
}

header .containerr .links a {
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-family: inter-light;
    white-space: nowrap;
    color: #d6d6d6;
    transition: all .4s ease-out;
}

header .containerr .links a:after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 1.5px;
    margin-top: 5px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: all .3s ease 0s, left .3s ease 0s;
    width: 0;
    background-color: #fdd13a;
}

header .containerr .links a:hover {
    font-family: inter-reg;
    color: #fdd13a;
    letter-spacing: 0;
}

header .containerr .links a:hover:after {
    width: 100%;
    letter-spacing: 0;
    left: 0;
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: #000;
}

.section-1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    margin-left: 38px;
}

.section-1-content .home-left{
    position: relative;
    width: 45%;
    padding-right: 3%;
}

.section-1-content .home-left .home-title {
    display: flex;
    flex-direction: column;
    padding-top: 10px; /*change afterwards  */
}

.section-1-content .home-left .home-title
p {
    font-size: 28px;
    font-family: inter-light;
    letter-spacing: 0;
    color: #fbc230;
    padding-bottom: 5px;
}

.section-1-content .home-left .home-title .home-title2 {
    font-size: 65px;
    font-family: c-Bold;
    color: #fff;
    width: 90%;
    letter-spacing: 0;
    line-height: 100%;
}

.section-1-content .home-left .home-title .home-bottombutton {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    flex-wrap:wrap-reverse;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient {
margin-right: 20px;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p {
    display: inline-block;
    background-image: linear-gradient(90deg, #ffbc00, #fd4c35, #ff1e78);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: inter-reg;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
}


.section-1-content .home-left .home-title .home-bottombutton-gradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #fff, #fff, #fff);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    border-radius: 45px;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p:hover {
    color: #ec6859;
}

.section-1-content .home-left .home-title .home-bottombutton-gradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-1-content .home-left .home-title .home-bottombutton-right {
    font-size: 20px;
    font-weight: 60;
    font-family: inter-reg;
    letter-spacing: 0;
    color: #ec6859;
    position: relative;
}

.section-1-content .home_image__cZBAK {
    width: 42%;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relativ;
}

.section-1-content .home_image__cZBAK img {
    position: absolute;
    bottom: -85px;
    top: 15%;
    left: -130px;
    width: 100%;
    overflow: hidden;
}

.timer .timer-text {
    font-size: 28px;
    font-family: inter-medium;
    color: #ee2c3c;
    display: flex;

}

.timer .timer-item {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.timer .timer-item:first-child {
    padding-left: 10px;
}

.timer .timer-item ,span {
    font-size: 14px;
    color: #fff;
}

.marquee-block {
    background-color: #ec6859;
    color: #000;
    font-size:medium;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 99;
}


.section-2 {
    background-color: #101010;
    position: relative;
    z-index: 20;
}

.section-2-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    z-index: 5;
}

.section-2-content .section-2-star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 6;
}

.section-2-content .slider {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.section-2-content .slides {
    width: 500px;
    height: 500px;
    display: flex;
}

.section-2-content .slides input {
    display: none;
}

.section-2-content .slide {
    width: 100%;
    transition: 2s;
}

.section-2-content .slide img {
    width: 500px;
    height: 500px;
}

.section-2-content .navigation-manual {
position: absolute;
width: 500px;
margin-top: -10px;
display: flex;
justify-content: center;
padding-bottom: 50px;

}

.section-2-content .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .lirst {
    margin-left: 0;
}

#radio2:checked ~ .lirst {
    margin-left: -100%;
}

#radio3:checked ~ .lirst {
    margin-left: -200%;
}

#radio4:checked ~ .lirst {
    margin-left: -300%;
}


.section-2-content .secondsection-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    padding-top: 40px;
}

.section-2-content .secondsection-title p {
    font-size: 24px;
    font-family: c-bold;
    letter-spacing: 0;
    color: #fbc230;
}

.section-2-content .secondsec-buttongradient p {
    display: inline-block;
    background: #000;
    color: #ffbc00;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: inter-medium;
    cursor: pointer;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
    margin-top: 10px;
    border: 1px solid #fbc230;
}

.section-2-content .secondsec-buttongradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #fbc230, #fbc230, #fbc230);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    border-radius: 45px;
}

.section-2-content .secondsec-buttongradient p:hover {
    color: #000;
}

.section-2-content .secondsec-buttongradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-2-content .second-section-right2 {
    font-size: 21px;
    font-family: c-bold;
    letter-spacing: 0;
    color: #ec6859;
    padding-top: 15px;
    position: relative;
}

.section-2-content .second-section-right2 span {
    font-family: inter-light;
    font-size: 21px;
}

.section-3 {
    position: relative;
    background-color: #000;
    z-index: 20;
    padding-top: 7.5%;
}

.section-3-content {
    padding-top: 7%;
    padding-bottom: 4%;
    z-index: 3;
    position: relative;
    margin-left: 28px;
}

.section-3-content .section3-title {
    justify-content: space-between;
    display: flex;
}

.section-3-content .home-title-text {
    font-size: 45px;
    font-family: c-bold;
    color: #fff;
    letter-spacing: 0;
    max-width: 55%;
    line-height: 110%;
}

.section-3-content .section3-title .section3-buttongradient p {
    display: inline-block;
    background-image: linear-gradient(90deg, #ffbc00, #fd4c35, #ff1e78);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    font-family: inter-reg;
    cursor: pointer;
    padding: 19px 35px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 45px;
    margin-top: 8%;
    right: 28px;
}

.section-3-content .section3-title .section3-buttongradient p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(90deg, #000, #000, #000);
    transition: all .4s;
    z-index: -1;
    opacity: 0;
    border: 1px solid #fbc230;
    overflow: hidden;
    border-radius: 45px;
}

.section-3-content .section3-title .section3-buttongradient p:hover {
    color: #fbc230;
}


.section-3-content .section3-title .section3-buttongradient p:hover:after {
    opacity: 1;
    width: 100%;
}

.section-3-content .home-teamcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(5, 1fr);
    padding: 60px 0 30px;
}

.section-3-content .home-teamcontainer::-webkit-scrollbar {
    display: none;
}

.section-3-content .home-teamcontainer .home-teamitem {
    position: relative;
    background: #000;
    text-align: left;
    cursor: pointer;
    outline: none !important;
    height: 354px;
    width: 231px;
    border-radius: 11px;
    margin-bottom: 25px;
    transition: all .6s cubic-bezier(.85, 0, .15, 1);
}

.section-3-content .home-teamcontainer .home-teamitem img {
    width: 236px;
    height: 197px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    margin-bottom: 30px;
    border-radius: 15px;
}

.section-3-content .home-teamcontainer .home-teamitem:not(:last-child) {
    margin-right: 30px;
}

.section-3-content .home-teamcontainer .home-teamitem .home-designation1 {
    padding-top: 20px;
    font-size: 14px;
    font-family: inter-reg;
    color: #fff;
    line-height: 150%
}

.section-3-content .home-teamcontainer .home-teamitem:hover {
    transform: translateY(-20px);
}

.section-3-content .home-teamcontainer .home-teamitem input {
    height: 34px;
    width: 34px;
    border-radius: 10px;
}